body{
    color: aqua;
    background: rgb(170, 91, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
input{
    font-size: x-large;
    font-weight: bold;
    padding: 10px;
    width: 75%;
    border: none;
    border-radius: 25px;
    text-align: center;
}
a{
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid black;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgba(8, 8, 8, 0.288);
    color: coral;
}
.about{
    background-color: rgb(180, 88, 88);
    height: 30vh;
    width: 40%;
    text-align: justify;
    padding: 10px;
    border-radius: 10px;
}